<nav class="navbar-default navbar">
  <div class="container-fluid">
    <!--로고영역-->
    <div class="navbar-header">
      <a href="/" class="navbar-brand">레시피북</a>
    </div>

    <!--메뉴영역-->
    <div class="navbar-collapse collapse">

      <!--주메뉴영역-->
      <ul class="navbar-nav nav">
        <li routerLinkActive="active"><a routerLink="recipes">레시피</a></li>
        <li routerLinkActive="active"><a routerLink="shopping-list">쇼핑목록</a></li>
      </ul>

      <!--부메뉴영역-->
      <ul class="navbar-nav navbar-right nav">
        <li class="dropdown" rbDropdown>
          <a class="dropdown-toggle" role="button" aria-haspopup="true"   aria-expanded="false">Recipe Management <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a (click)="onStore()" style="cursor:pointer;">Store Recipes</a></li>
            <li><a (click)="onFetch()" style="cursor:pointer;">Retrive Recipes</a></li>
          </ul>
        </li>
      </ul>

    </div>

  </div>
</nav>